.accordion {
	display: flex;
	flex-direction: column;
	overflow: auto;

	.accordion-item {
		background-color: transparent;
		display: flex;
		flex-direction: column;
		min-height: 0;
		flex: 0.00001 0 auto;
		transition: all 200ms;

		& > * {
			min-height: 0;
		}

		& > .accordion-toggle {
			border: 0;
			// background-color: transparent;
			text-align: left;
			cursor: pointer;
			min-height: 0;
			flex-shrink: 0;
		}

		& > :not(.accordion-toggle) {
			overflow: auto;
			flex: 0.00001 1 0;
			background-color: transparent;
			display: flex;
			transition: all 200ms;
		}

		&.selected {
			flex: 1 1 auto;
			overflow: hidden;

			& > :not(.accordion-toggle) {
				flex: 1 1 auto;
			}
		}
	}
}
