main .data-table-container {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100vh;

	& > * {
		flex-shrink: 0;
	}

	& > div.data-table-wrapper {
		flex: 1 1 auto;
		overflow: auto;
		border-bottom: 2px solid black;
	}

	header.controls {
		display: flex;
		background-color: rgb(50 50 50);
		color: rgb(255 255 255);
		align-items: center;
		gap: 12px;
		padding: 0 12px;

		div.title {
			margin-right: auto;
		}

		button.control {
			flex-shrink: 0;
			background-color: rgb(50 50 50);
			color: rgb(255 255 255);
			outline: none;
			border: 0;
			height: 26px;
			width: 26px;
			padding: 2px;

			svg {
				fill: white;
			}

			&:hover {
				background-color: rgb(90 90 90);
			}
		}
	}

	.data-table-wrapper {
		display: flex;
		flex-direction: column;
		overflow: auto;

		table.data-table {
			border-collapse: collapse;

			th,
			td {
				padding: 0.5rem;
				text-align: left;
				max-width: calc((100vw - 400px) / 5);
			}

			thead {
				position: sticky;
				inset-block-start: 0;
				z-index: 2;
				line-break: strict;

				th {
					vertical-align: bottom;
					white-space: nowrap;
					background-color: var(--section-background-color);
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			tbody {
				tr {
					&:nth-child(2n) {
						background-color: var(--section-background-color-light);
					}
				}

				td {
					border: 1px solid #eee;
					overflow-wrap: break-word;
				}
			}
		}
	}
}
