.remix-section {
	--section-background-color: var(--remix-background-color);

	section {
		margin: 8px;
		padding: 8px;
		background-color: var(--remix-background-color-light);
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		gap: 8px;
		position: relative;

		header {
			display: flex;

			h2 {
				flex-grow: 1;
			}

			button.remove {
				flex: 0 0 25px;
				display: block;
				width: 25px;
				height: 25px;

				&:hover {
					background-color: var(--remix-background-color);
					border-radius: 15px;
				}
			}
		}

		.metadata {
			label {
				display: block;
			}
		}
	}

	.viewpoint {
		height: 1px;
		border-bottom: 1px solid #999;
		text-align: center;
		position: relative;

		&::after {
			content: '👁';
			position: absolute;
			top: 50%;
			left: 50%;
		}
	}
}
