body {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

header {
	display: flex;
	height: 3rem;
	align-items: center;
}

.root {
	height: 100vh;
	width: 100vw;
	display: flex;

	aside {
		width: 400px;
		box-shadow: 3px 0 20px -15px black;
		resize: horizontal;
		flex-shrink: 0;
		resize: horizontal;
		display: flex;
		flex-direction: column;

		& > header {
			background-color: black;
			flex: 0 0 auto;

			h1.title {
				padding: 0.4rem;
				font-size: 1.4rem;
				white-space: nowrap;
				background: linear-gradient(
					to right,
					#ef5350,
					#f9a825,
					#ccdd31,
					#43a047,
					#2196f3,
					#7e57c2
				);
				background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}

		& > :not(header) {
			display: flex;
			flex: 1 1 auto;

			.accordion-toggle {
				border: 0;
				border-left: 3px solid;
				outline: 0;
				cursor: pointer;
				background-color: transparent;
				border-left: 5px solid var(--section-color);
				background-color: var(--section-background-color);
				font-size: 1.2rem;
				padding: 4px;
			}

			.accordion-item {
				border-left: 5px solid var(--section-color);
				border-image-source: linear-gradient(
					to bottom,
					var(--section-color),
					var(--next-section-color)
				);
			}

			// .import-label {
			// 	border-left: 5px solid var(--import-color);
			// 	background-color: var(--import-background-color);
			// }

			// .import-aside {
			// 	border-left: 5px solid transparent;
			// 	border-image-slice: 1;
			// 	border-image-source: linear-gradient(
			// 		to bottom,
			// 		var(--section-color),
			// 		var(--next-section-color)
			// 	);
			// }

			.remix-label {
				border-left: 5px solid var(--remix-color);
			}

			.remix-aside {
				border-left: 5px solid transparent;
				border-image-slice: 1;
				border-image-source: linear-gradient(
					to bottom,
					var(--remix-color),
					var(--chart-color)
				);
			}

			.chart-label {
				border-left: 5px solid var(--chart-color);
			}

			.chart-aside {
				border-left: 5px solid transparent;
				border-image-slice: 1;
				border-image-source: linear-gradient(
					to bottom,
					var(--chart-color),
					var(--share-color)
				);
			}

			.share-label {
				border-left: 5px solid var(--share-color);
			}

			.share-aside {
				border-left: 5px solid transparent;
				border-image-slice: 1;
				border-image-source: linear-gradient(
					to bottom,
					var(--share-color),
					var(--end-color)
				);
			}
		}

		.sections {
			padding: 0.4rem;
		}
	}

	main {
		flex: 1;
		display: flex;
		overflow: hidden;
		// box-shadow: inset 0 2px 20px -18px black;

		button {
			outline: none;
			border: 0;
			background-color: transparent;
			border: 1px solid transparent;
			border-radius: 5px;
			padding: 2px 8px;

			&:hover {
				background-color: #eee;
				border-color: black;
			}
		}

		.current-source {
			flex-shrink: 0;
			white-space: nowrap;
			display: flex;
			align-items: center;
			font-size: 1.5rem;
			font-weight: 700;

			svg {
				display: block;
				width: 1.5rem;
				margin-right: 0.1rem;
			}

			// &::before {
			// 	content: "";
			// 	background: url('data:image/svg+xml;utf8,<svg stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 12V18C5 18 5 21 12 21C19 21 19 18 19 18V12" stroke="currentColor" stroke-width="1"/><path d="M5 6V12C5 12 5 15 12 15C19 15 19 12 19 12V6" stroke="currentColor" stroke-width="1"/><path d="M12 3C19 3 19 6 19 6C19 6 19 9 12 9C5 9 5 6 5 6C5 6 5 3 12 3Z" stroke="currentColor" stroke-width="1"/></svg>');
			// 	background-size: cover;
			// 	display: inline-block;
			// 	width: 24px;
			// 	height: 24px;
			// }
		}

		.controls {
			display: flex;
			align-items: center;
			gap: 15px;

			.control {
				outline: none;
			}

			&.left {
				flex-shrink: 0;
			}

			&.right {
				flex-grow: 1;
				width: 100%;
				justify-content: flex-end;
			}
		}
	}
}
