section.standard {
	margin: 8px;
	background-color: var(--section-background-color-light);
	border-radius: 8px;
}

ul.standard {
	list-style: none;
	margin: 0;
	padding: 0;
}

button.unadorned {
	outline: none;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

form.standard {
	gap: 12px;
	align-items: center;

	.form-row {
		display: flex;
		margin-bottom: 8px;

		& > label {
			flex: 0 0 33%;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
	}
}
