section.standard {
	margin: 8px;
	background-color: var(--section-background-color-light);
	border-radius: 8px;
}

ul.standard {
	list-style: none;
	margin: 0;
	padding: 0;
}

button.unadorned {
	outline: none;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

form.standard {
	gap: 12px;
	align-items: center;

	.form-row {
		margin-bottom: 8px;

		& > label {
			display: block;
			padding-bottom: 4px;
		}

		&.horizontal {
			display: flex;

			& > label {
				flex: 0 0 33%;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

table.standard {
	border-collapse: collapse;

	th,
	td {
		padding: 0.5rem;
		text-align: left;

		&.number,
		&.integer {
			text-align: right;
			// todo: numeric character width
		}
	}

	thead {
		position: sticky;
		inset-block-start: 0;
		z-index: 2;
		line-break: strict;

		th {
			vertical-align: bottom;
			white-space: nowrap;
			background-color: var(--section-background-color);
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	tbody {
		tr {
			&:nth-child(2n) {
				background-color: var(--section-background-color-light);
			}
		}

		td {
			border: 1px solid #eee;
			overflow-wrap: break-word;
		}
	}
}
