@mixin section($name, $next) {
	.#{$name}-section {
		--section-color: var(--#{$name}-color);
		--section-background-color: var(--#{$name}-background-color);
		--section-background-color-light: var(--#{$name}-background-color-light);
		--next-section-color: var(--#{$next}-color);
	}
}

body {
	--explore-color: #ef5350;
	--explore-background-color: #feafaf;
	--explore-background-color-light: #ffdfdf;

	--remix-color: #f9a825;
	--remix-background-color: #fede8f;
	--remix-background-color-light: #feeebf;

	--chart-color: #ccdd31;
	--chart-background-color: #f3f38f;
	--chart-background-color-light: #f3f3bf;

	--share-color: #43a047;
	--share-background-color: #bfdec1;
	--share-background-color-light: #dff3df;

	--annotate-color: #2196f3;
	--annotate-background-color: #b6ddfa;
	--annotate-background-color-light: #e9f0fe;

	--learn-color: #7e57c2;
	--learn-background-color: #cbbce7;
	--learn-background-color-light: #f0ebf8;

	--end-color: #000000;
}

@include section("explore", "remix");
@include section("remix", "chart");
@include section("chart", "share");
@include section("share", "annotate");
@include section("annotate", "learn");
@include section("learn", "end");
