body {
	--import-background-color: #feafaf;
	--import-background-color-light: #ffdfdf;

	--remix-background-color: #fede8f;
	--remix-background-color-light: #feeebf;

	--chart-background-color: #fefe8f;
	--chart-background-color-light: #fefebf;
}
